%h2 Gráficos

#chart-average.chart

%h2 Dados

%p Os seguintes dados foram extraídos do seu histórico para o cálculo das estatísticas. Caso você perceba algum erro, por favor entre em contato com cursos-ufpb [@] fernandobrito [ponto] com.

= content_for :css_code do
  :css
    .chart {
      width: 100%;
      height: 500px;
    }

= content_for :js_includes do
  = javascript_include_tag 'https://www.gstatic.com/charts/loader.js'
  = include_gon

= content_for :js_code do
  :javascript
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {

      var data = new google.visualization.DataTable();
      data.addColumn('number', 'Semestre');
      data.addColumn('number', 'CRA efetivo');
      data.addColumn('number', 'CRA sem reprovações');
      data.addRows(gon.semesters_average);

      // Set chart options
      var options = {
        title: 'Evolução do CRA ao longo dos semestres',
        titleTextStyle: { fontSize: 19 },
        curveType: 'function',
        legend: { position: 'bottom' },
        pointSize: 8,
        chartArea: { width: '87%', height: '70%', backgroundColor: { stroke: 'white' } },
        vAxis: {
          title: 'CRA',
          format: '0.00'
        },
        hAxis: {
          title: 'Semestre',
          ticks: $.map(gon.semesters_average, function(val) { return val[0] }),
          baselineColor: '#ccc'
        }
      };

      // Instantiate and draw our chart, passing in some options.
      var chart = new google.visualization.LineChart(document.getElementById('chart-average'));
      chart.draw(data, options);

      function resizeChart () {
        chart.draw(data, options);
      }
      if (document.addEventListener) {
        window.addEventListener('resize', resizeChart);
      }
      else if (document.attachEvent) {
        window.attachEvent('onresize', resizeChart);
      }
      else {
        window.resize = resizeChart;
      }
    }