= render 'transcripts/charts/shared'

%h2 Gráficos

= render 'transcripts/charts/line_average'
%hr
= render 'transcripts/charts/bubble_courses'
%hr
= render 'transcripts/charts/donut_situation'
%hr

%h2 Dados

%p Os seguintes dados foram extraídos e calculados do seu histórico para o cálculo das estatísticas.

.row
  .col-md-6.col-md-offset-3
    = render partial: 'transcripts/data/average_grades', object: @semester_average

.row
  .col-md-6.col-md-offset-3
    = render partial: 'transcripts/data/situation_groups', object: @courses_groupped_by_situation

.row
  .col-md-8.col-md-offset-2
    = render partial: 'transcripts/data/courses_list', object: @results

%p Caso você perceba algum erro, por favor entre em contato com cursos-ufpb [@] fernandobrito [ponto] com.

