= render 'transcripts/charts/shared'

%h2
  Progresso
  %small (em créditos)

= render partial: 'transcripts/charts/progress_bars', locals: { progress: @progress }

%h2 Gráficos

= render 'transcripts/charts/line_average'
%hr
= render 'transcripts/charts/bubble_courses'
%hr
= render 'transcripts/charts/column_semesters'
%hr
= render 'transcripts/charts/donut_situation'
%hr

%h2 Dados

%p Para ver os dados que foram extraídos do seu histórico e utilizados para o cálculo destas estatísticas, clique no botão abaixo.

%p.text-center
  = link_to 'Dados extraídos', '#modal-data', class: 'btn btn-default', 'data-toggle' => 'modal'

%p Caso você perceba algum erro, por favor entre em contato com cursos-ufpb [@] fernandobrito [ponto] com.

= render 'modal_data'
