.jumbotron
  %h1 Acompanhe a evolução do seu CRA
  %p.lead Envie o seu histórico de notas gerado pelo SIGAA UFPB e veja a evolução do ceu CRA (Coeficiente de Rendimento Acadêmico) ao longo dos semestres em um gráfico*.

  %p.lead.text-muted Para obter o seu histórico, entre no #{link_to 'SIGAA UFPB', 'http://sigaa.ufpb.br', target: '_blank'}, autentique-se e procure no menu superior por 'Ensino &rarr; Consultar Histórico'. Salve o arquivo .PDF em seu computador e envie aqui.

  = form_tag transcripts_path, multipart: true, id: 'form' do
    = file_field_tag 'file', id: 'file-input', class: 'btn btn-large', accept: '.pdf, .PDF'

  .small.text-muted.top-buffer
    = link_to '(ou use um arquivo exemplo)', sample_transcripts_path

.row.marketing
  .col-lg-6
    %h2 Disciplinas agrupadas por situação
    %p Acompanhe em um gráfico de pizza a situação das suas disciplinas (aprovado, trancado, reprovado, reprovado por falta e matriculado).

    %h2 Evolução e comparação CRA
    %p Visualize a evolução do seu CRA ao longo dos semestres e veja como seria o seu CRA se você nunca tivesse reprovado disciplinas.

    %h2 * Privacidade
    %p Ao enviar o seu histórico, você concorda com os #{link_to 'termos de utilização', page_path('about')} deste site.

  .col-lg-6
    = image_tag 'home_arrow.png', class: 'img-thumbnail'



- content_for :css_includes do
  = stylesheet_link_tag 'fileinput.min'

- content_for :js_includes do
  = javascript_include_tag 'fileinput.min'

- content_for :css_code do
  :css
    #file-input {
      display: none;
    }

- content_for :js_code do
  :javascript
    $(document).on('ready', function() {
      $("#file-input").fileinput({
        showCaption: false,
        showRemove: false,
        showClose: false,
        showPreview: false,
        showUpload: false,
        maxFileCount: 1,
        browseLabel: 'Enviar histórico (.PDF)'
      });

      $('#file-input').show();

      $('#file-input').on('change.bs.fileinput', function () {
        if ($('#file-input').get(0).files.length > 0) {
          $('#form').submit();
        }
      });
    });

